.section-2 {
    width: 85%;
    @extend %margin-lr;
    text-align: center;

    @include big-tablet {
        width: 90%;
        text-align: left;
        
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: end;
        align-items: center;
    }

    &__illustration {
        margin-bottom: 5.2rem;
        
        @include tablet {
            width: 80%;
        }

        @include big-tablet {
            order: 2;
        }
    }

    &__subtitle {
        font-size: 1rem;
        margin-bottom: 1.7rem;
    }

    &__paragraph {
        @include paragraph(1.1rem);
        color: $desaturated-blue;
        text-align: left;

        &:nth-of-type(2) {
            margin-bottom: 2.3rem;
        }
    }

    &__link {
        margin-bottom: 2.6rem;
    }

    &__card {
        width: 92%;
        @extend %margin-lr;
        text-align: left;

        @include big-tablet {
            width: 65%;
            margin: 0;
        }
    }
}

.cta {
    width: 75%;
    @extend %margin-lr;
    color: $light-grayish-blue;
    text-align: center;

    @include big-tablet {
        width: 90%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
        align-items: center;
        text-align: left;
    }

    &__paragraph {
        @include paragraph(1.5rem);
    }

    &__form {
        @include tablet {
            input {
                width: 70%;
            }
        }
        
        @include big-tablet {
            width: 70%;
            input {
                width: auto;

                &:first-child {
                    width: 100%;
                }
            }
        }
    }
}