.footer-container {
    width: 81%;
    @extend %margin-lr;

    @include big-tablet {
        width: 90%;
    }
    
    .logo {
        margin-bottom: 2.5rem;

        @include desktop {
            margin-bottom: 1.4rem;
        }
    }
}

.info {
    display: grid;

    @include big-tablet {
        grid-template-columns: repeat(3, 1fr);
    }
    
    &__contact {
        margin-bottom: 4rem;

        p {
            display: flex;
            align-items: center;
            svg {
                margin-right: 1rem;
            }

            @include big-tablet {
                &:first-child {
                    margin-top: 0;
                }
            }
        }

    }

    &__site {
        display: inline-grid;
        margin-bottom: 2rem;
        row-gap: 2.1rem;

        @include big-tablet {
            grid-template-columns: 1fr 1fr;
            justify-items: center;
        }

        a {
            color: inherit;
            display: block;
            margin-bottom: 1.3rem;

            @include desktop {
                &:hover {
                    color: $hover;
                }
            }
        }
    }

    // &__social {}
}